<div class="login-page">
  <form class="signin-form" [formGroup]="siginForm" (ngSubmit)="OnFormSubmited()">
    <label class="input-label">Email</label>
    <input
      type="email"
      name="email"
      placeholder="email"
      id="signin-email"
      required
      formControlName="signInEmail"
    />
    <label class="input-label" for="password">Password</label>
    <input
      type="password"
      name="password"
      id="signin-password"
      placeholder="password"
      required
      formControlName="signInPassword"
    />
    <p class="signin-message" id="signin-message"></p>
    <button class="signin-button" type="submit" id="signin-button">
      Sign in
    </button>
  </form>
  <div>
    <form class="register-form" id="register-form">
      <label class="input-label" for="name">Name</label>
      <input type="text" name="user-name" placeholder="name" id="userName" />
      <label class="input-label" for="surname">Surname</label>
      <input type="text" name="surname" id="surname" placeholder="surname" />
      <label class="input-label" for="email">Email</label>
      <input
        type="email"
        name="email"
        placeholder="email"
        id="register-email"
      />
      <label class="input-label" for="email-repeat">Email again</label>
      <input
        type="email"
        name="email-repeat"
        placeholder="email"
        id="email-repeat"
      />
      <label class="input-label" for="register-password">Password</label>
      <input
        type="password"
        name="register-password"
        id="register-password"
        placeholder="password"
      />
      <label class="input-label" for="password-repeat">Password again</label>
      <input
        type="password"
        name="password-repeat"
        id="password-repeat"
        placeholder="password"
      />
      <p id="register-message" class="register-message"></p>
      <button
        class="register-inform-button"
        type="button"
        id="register-inform-button"
      >
        Register
      </button>
    </form>
    <button
      class="open-form-button"
      type="button"
      id="open-form-button"
      [routerLink]="['/home']"
    >
      Register
    </button>
  </div>
</div>
