<div class="profile-page">
  <app-nav-bar></app-nav-bar>
  <div class="profile-card">
    <h1>Profile</h1>
    <div class="profile-card-data">
      <div class="profile-card-left">
        <img
          class="profile-picture"
          src="/assets/img/default-profile.png"
          alt="default profile picture"
        />
      </div>
      <div class="profile-card-right">
        <div class="profile-card-user-info">
          <p id="user-name">Change</p>
          <p id="user-surname">change</p>
          <p id="user-email">Change</p>
        </div>
      </div>
    </div>
    <div class="profile-card-buttons">
      <button class="profile-card-button-left">Reset password</button>
      <button class="profile-card-button-right" id="reset-email">
        Reset email
      </button>
    </div>
  </div>
</div>
<app-footer></app-footer>
